<p style="color: green"><%= notice %></p>

<%= render @ai_model %>

<div>
  <%= link_to "Edit this ai model", edit_ai_model_path(@ai_model) %> |
  <%= link_to "Back to ai models", ai_models_path %>

  <%= button_to "Destroy this ai model", @ai_model, method: :delete %>
</div>
